{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                {% if user.is_authenticated %}
                    <p>欢迎 {{ user.username }}, 从 <a href="{% url 'logout' %}">这里</a> 登出。</p>
                {% else %}
                    您好，请从 <a href="{% url 'login' %}">这里</a> 登录。
                {% endif %}
                <p>
                    {% if user.is_authenticated %}
                        您拥有的角色：
                        <ul>
                        {% for role in roles %}
                            <li>{{ role.application.description }} - {{ role.description }}</li>
                        {% endfor %}
                        </ul>

                        您拥有的权限：
                        <ul>
                        {% for permission in permissions %}
                            <li>{{ permission.application.description }} - {{ permission.description }}</li>
                        {% endfor %}
                        </ul>

                    {% endif %}
                </p>
            </div>
        </div>
    </div>

{% endblock %}